@CHARSET "UTF-8";

body {
	background-color: silver;
	margin: 2.5em;
	background-image: url("./../images/background_image.jpg");
	background-attachment: fixed;
}

h1 {
	font-family: sans-serif;
	font-size: 2em;
	color: red;
	font-weight: normal;
	text-align: center;
}

h2 {
	border: solid, red, 5px;
	padding: 20px;
}

.title {
	font-style: italic;
}

textarea {
	resize: none;
}

span.importante {
	color: green;
	font-weight: bold;
}